services:
  web:
    build:
      context: .
      target: build
    command: npm run dev
    ports:
      - "4173:8080"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
